<div class="chat-header">
  <img class="chat-avatar" src="../<%=set.avatar%>"/>
  <div class="chat-info">
    <div class="chat-title"><%=set.title%></div>
      <% if (set.type === 'CONTACT') { %>
        <div class="chat-verification <%=set.verification.toLowerCase()%>">
          <div class="verification-icon"></div>
          <div class="verification-icon"></div>
          <div class="verification-icon"></div>
        </div>   
      <% } else { %>
        <div class="chat-members"><%-set.members.join(', ')%></div>
      <% } %>
  </div>
</div>