@media print {
  div {
    break-inside: avoid;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
}

.chat-wrapper {
  width: 720px;
  height: fit-content;
  position: relative;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.entry-wrapper {
  margin-bottom: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &.left + &.right {
    .message-bubble {
      border-bottom-right-radius: 2px;
    }
  }

  &.right + &.right {
    .message-bubble {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  &.left + &.left {
    .message-bubble {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
  }

  &.right + &.left {
    .message-bubble {
      border-bottom-left-radius: 2px;
    }
  }

  &.left:has(+ &.right),
  &.left:last-of-type {
    margin-bottom: 8px;
    .message-bubble {
      border-bottom-left-radius: 16px !important;
    }
  }

  &.right:has(+ &.left),
  &.right:last-of-type {
    margin-bottom: 8px;
    .message-bubble {
      border-bottom-right-radius: 16px !important;
    }
  }

  &.left {
    .message-bubble {
      align-self: flex-start;
      text-align: left;
      margin-left: 12px;
    }
  }

  &.right {
    .message-bubble {
      align-self: flex-end;
      text-align: left;
      margin-right: 12px;
    }
  }

  &.new-date {
    justify-content: center;
    align-items: center;
    .date-bubble {
      padding: 12px;
      border-radius: 50px;
      color: white;
      font-weight: 600;
    }
    &.fixed {
      position: absolute;
      z-index: 1;
      height: 56px;
      .date-bubble {
        position: fixed;
        transition: top linear 500ms;
        top: 0;
        &.hidden {
          top: -100px;
        }
      }
    }
  }
}

.message-bubble {
  border-radius: 16px;
  max-width: 80%;
  display: inline-block;
  word-wrap: break-word;
}

.text-message {
  margin: 12px;
}

.date {
  position: relative;
  top: 3px;
  font-size: 14px;
}
