@media print {
  div {
    break-inside: avoid;
  }
  .fixed {
    display: none;
  }
}

$header-height: 100px;
$date-bubble-margin: 10px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.chat-header {
  width: 720px;
  height: $header-height;
  position: fixed;
  display: flex;
  padding: 10px 10px 10px 120px;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  .chat-avatar {
    border-radius: 50%;
    width: $header-height - 40;
  }
  .chat-info {
    margin-left: 10px;
    .chat-title {
      font-size: 36px;
    }
    .chat-verification {
      display: flex;
      margin: 6px 0;
      .verification-icon {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #dfdfdf;
        margin-right: 3px;
      }
      &.fully_verified {
        .verification-icon {
          background-color: #3aac5a;
        }
      }
      &.server_verified {
        div:nth-of-type(1),
        div:nth-of-type(2) {
          background-color: #ff9630;
        }
      }
      &.unverified {
        div:nth-of-type(1) {
          background-color: #ff463d;
        }
      }
    }
  }
}

.chat-wrapper {
  width: 720px;
  height: fit-content;
  position: relative;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.entry-wrapper {
  margin-bottom: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &:nth-child(3) {
    padding-top: $header-height + $date-bubble-margin;
  }

  &.left + &.right {
    .message-bubble {
      border-bottom-right-radius: 2px;
    }
  }

  &.right + &.right {
    .message-bubble {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  &.left + &.left {
    .message-bubble {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
  }

  &.right + &.left {
    .message-bubble {
      border-bottom-left-radius: 2px;
    }
  }

  &.left:has(+ &.right),
  &.left:last-of-type {
    margin-bottom: 8px;
    .message-bubble {
      border-bottom-left-radius: 16px !important;
    }
  }

  &.right:has(+ &.left),
  &.right:last-of-type {
    margin-bottom: 8px;
    .message-bubble {
      border-bottom-right-radius: 16px !important;
    }
  }

  &.left {
    .message-bubble {
      align-self: flex-start;
      text-align: left;
      margin-left: 12px;
    }
  }

  &.right {
    .message-bubble {
      align-self: flex-end;
      text-align: left;
      margin-right: 12px;
      .date {
        text-align: right;
      }
    }
  }

  &.new-date {
    justify-content: center;
    align-items: center;
    .date-bubble {
      padding: 12px 16px;
      border-radius: 50px;
      color: white;
      font-weight: 600;
      box-shadow: 0 0 12px 0 #00000020;
    }
    &.fixed {
      position: absolute;
      z-index: 1;
      height: 56px;
      .date-bubble {
        position: fixed;
        transition: top linear 500ms;
        top: $header-height + $date-bubble-margin;
        &.hidden {
          top: -($header-height + $date-bubble-margin);
        }
      }
    }
  }
}

.message-bubble {
  border-radius: 16px;
  max-width: 80%;
  display: inline-block;
  word-wrap: break-word;
}

.text-message {
  margin: 12px;
}

.date {
  position: relative;
  top: 3px;
  font-size: 12px;
  margin: 6px;
}
