@import "_shared";

html {
  background-color: black;
}

.chat-wrapper {
  background-image: url("../../assets/m_wallpaper_dark.png");
}

.entry-wrapper {
  &.left {
    .message-bubble {
      background-color: #666666;
    }
  }

  &.right {
    .message-bubble {
      background-color: #454945;
    }
  }

  &.new-date {
    .date-bubble {
      background-color: #424242;
    }
  }
}

.message-bubble {
  color: #e1e2dc;
}

.date {
  color: #e1e2dc;
}
