@import "_shared";

html {
  background-color: #181a18;
}

.chat-header {
  background-color: #1f221f;
  color: #e1e2dd;
}

.chat-wrapper {
  background-image: url("../../assets/m_wallpaper_dark.png");
  background-color: #1f221f;
}

.entry-wrapper {
  &.left {
    .message-bubble {
      background-color: #666666;
    }
  }

  &.right {
    .message-bubble {
      background-color: #454945;
    }
  }

  &.new-date {
    .date-bubble {
      background-color: #424242;
    }
  }
}

.message-bubble {
  color: #e1e2dc;
}

.date {
  color: #e1e2dc;
  .regular {
    filter: invert(98%) sepia(12%) saturate(108%) hue-rotate(12deg)
      brightness(95%) contrast(87%);
  }
}
