@import "_shared";

html {
  background-color: white;
}

.chat-wrapper {
  background-image: url("../../assets/m_wallpaper_light.png");
}

.entry-wrapper {
  &.left {
    .message-bubble {
      background-color: #f1f4f1;
    }
  }

  &.right {
    .message-bubble {
      background-color: #e6f6ea;
    }
  }

  &.new-date {
    .date-bubble {
      background-color: #b9b9b9;
    }
  }
}

.message-bubble {
  color: #20221f;
}

.date {
  color: #20221f;
}
